/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color:	#cd1076;
  padding: 10px 20px;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #8b0a50;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: #8b0a50;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

/*Imagenes abajo y a  la derecha*/
.logo{
margin-top: 25px;
margin-bottom: 10px;
width: 150px;
}

.contenedor-div{
     position: relative;
    }

.down-right{
  position: absolute;
  top:150px;
  right:30px;
}

.icon{
  max-width: 50%;
}

.small-icon {
  max-width: 40px;
}
.navtext {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: justify;
  color: white;
}
/*SECTION Contenidos del Blog*/
.blog_area {
  margin: 10px;
  padding: 20px;
}

.blog_right_area{
  padding: 10px;
  background-color: #dae0e5;
}

.blog_content{
  padding: 10px;
  text-align: justify;
}

.list-group-uncolor{
  	background-color: #dae0e5;
    align-items: center;
    text-align: center;
}
